<div>
    <div mat-subheader>Hubs</div>
    <mat-list-item *ngFor="let device of devices">
        <div mat-line>Product Id: {{device.productId}}, Vendor Id: {{device.vendorId}}</div>
    </mat-list-item>
    <div mat-subheader>Devices</div>
    <mat-list-item *ngFor="let device of devicesChilds">
        <div mat-line>Product Id: {{device.productId}}, Vendor Id: {{device.vendorId}}</div>
    </mat-list-item>
</div>

